.signupStyle{
    width: 40%;
    height: 600px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 5px;
    /* margin-top: 1; */
}
.signupImage img{
   width: 200px;
   margin: 0px auto;
    padding: 10px;
}
.signupStyle h5{
    margin-top: 15px;
    padding-top: 15px;
}

.signupStyle input{
 
    margin: 0px auto;
    width: 70%;
    border: none;
    border-bottom: 2px solid black;
}
