.contact{
    width: 100%;
    height: 520px;
    text-align: center;
    background-color: #29ABE2;
    color: rgb(243, 241, 241);
}
.form{
    width: 100%;
    display: block;
}
.form input{
    width: 70%;
    height: 60px;
    margin: 10px auto;
}
.form .massage input{
    height: 80px;
}
.contact button {
    width: 200px;
    margin-bottom: 5px;
}
.contact button:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(247, 239, 239);
}